.spacer {
	margin-top: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428BCA;
  color: #ffffff;
}

.clickable {
	cursor: pointer;
}

body { 
	padding-bottom: 70px; 
	margin-left: 40px;
	margin-right: 40px;
}

.well{
    background: rgba(124, 52, 219, 0.4);
    color: white;
}